html {
  overflow: auto !important;
}

.has-image-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.description{
  word-wrap: break-word;
}

.ico-color {
  color: teal
}

.card {
  border-radius: 10px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: #0a0a0a;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 72vh;
  width: 80vw;
}
