{% extends 'layout.html' %}
{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} Index {% endblock %}}
{% block content %}
<div class="content">
    <section>
        <div class="container section has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <figure class="image is-128x128 has-image-centered">
                        <img alt="avatar.png" class="is-rounded"
                            src="{{ url_for('static', filename='images/avatar.jpeg') }}">
                    </figure>
                    <h1 class="title is-2">Berg Paulo</h1>
                    <p>
                        Software Engineer 💻<br>
                        Enthusiastic about the DevOps culture, IoT and everything that involves technology.<br>
                        Personal blog: <a target="_blank" href="https://bergpb.gitlab.io">https://bergpb.gitlab.io</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}