<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-white" href="/" style="font-weight:bold;">Berg</a>
      <a role="button" style="color: white" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a id="theme-toogle" class="navbar-item" href="#">
          <span style="padding-left: 10px;">Change Theme</span>
        </a>
      </div>
    </div>
  </nav>
  