{% extends 'layout.html' %}
{% block title %}{{ super() }}| Coins{% endblock %}}
{% block page %} Index {% endblock %}}
{% block content %}
    <div class="content mt-5">
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
        <div class="has-text-centered">
            <a href="{{ url_for('coins.index') }}" class="button is-link is-outlined">Back</a>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.js') }}"></script>
        <script>
            var data = {
                labels: [{% for date in coins["dates"] %} "{{ date }}", {% endfor %}],
                datasets: [{
                    label: "{{ coins['name'] }}",
                    borderColor: "teal",
                    borderWidth: 2,
                    data: [{% for value in coins["values"] %} {{ value }}, {% endfor %}],
                    fill: true,
                }]
            };
            var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return (
                                    Math.round(value * 100) / 100).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}
                                );
                            }
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            maxTicksLimit: 10,
                            display: true,
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let label = data.datasets[tooltipItem.datasetIndex].label;
                            let value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                            return label + ": " + value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
                        }
                    }
                }
            };
            new Chart(document.getElementById("chart"), {
                type: 'line',
                data: data,
                options: options,
            });
        </script>
    </div>
{% endblock %}